@model IEnumerable<StudentManagement.Models.Student>

<h2>Students</h2>

<a asp-action="Create" class="btn btn-primary">
    Add Student
</a>

<table class="table table-bordered">

    <tr>

        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Course</th>
        <th>Actions</th>

    </tr>

    @foreach (var s in Model)
    {

        <tr>

            <td>@s.StudentName</td>
            <td>@s.Email</td>
            <td>@s.Department.DepartmentName</td>
            <td>@s.Course.CourseName</td>

            <td>

                <a asp-action="Edit" asp-route-id="@s.StudentId" class="btn btn-warning">
                    Edit
                </a>

                <a asp-action="Delete" asp-route-id="@s.StudentId" class="btn btn-danger">
                    Delete
                </a>

            </td>

        </tr>

    }

</table>