@model IEnumerable<StudentManagement.Models.Course>

<h2>Courses</h2>

<a asp-action="Create" class="btn btn-primary">Add Course</a>

<table class="table table-bordered">

    <tr>

        <th>Name</th>
        <th>Duration</th>
        <th>Fees</th>
        <th>Department</th>
        <th>Actions</th>

    </tr>

    @foreach (var c in Model)
    {

        <tr>

            <td>@c.CourseName</td>
            <td>@c.Duration</td>
            <td>@c.Fees</td>
            <td>@c.Department.DepartmentName</td>

            <td>

                <a asp-action="Edit" asp-route-id="@c.CourseId" class="btn btn-warning">
                    Edit
                </a>

                <a asp-action="Delete" asp-route-id="@c.CourseId" class="btn btn-danger">
                    Delete
                </a>

            </td>

        </tr>

    }

</table>